@import '~@fluentui/react/dist/sass/References.scss';

.advancedSearch {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  .footer{display: none !important;}
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.search-result 
{
  .card-title
  {
    font-size: 1rem;
  }

  .card-text
  {
     font-size: 0.8rem;
  }


}
.search-result span+span{
  background: #747171 !important;
  border-color: #747171 !important;
}
.search-result span+span+span{
  background: #fff !important;
  border-color: #ccc !important;
  color: #000 !important;
}
.newdesign{margin-left: 10px; display: flex;}

.pagination-container {
  float: right;
  margin: 8px 0px 0px 0px;
}
.pagination-container ul{margin-bottom: 0px;}
.newdesign {display: flex;}
.newdesign  label{width:240px ; padding: 10px 0px 0px 0px;}